.masonry_grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin: 0px; /* gutter size offset */
  width: auto;
}
.masonry_grid_column {
  background-clip: padding-box;
}

.languageButton {
  margin: 0px 5px 5px 0px;
  border-radius: 10px;
}