{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ayaan's personal website</title>

    <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}">
</head>
<body>
    <div class="container text-center p-5">
        <h1 class="font-weight-light">Website is now live. Let's go!!!</h1>
        <h4 class="font-weight-light text-muted">The website is not yet done.</h4>
        <p class="font-weight">Consider following me on Github <a href="http://github.com/ayaanqui/">@ayaanqui</a></p>
    </div>
</body>
</html>