.repo_card {
    background-color: rgb(16, 16, 16, 0.5);
    padding: 15px 15px;
    display: block;
}

.owner {
    margin-bottom: 10px;
}

.owner img {
    max-width: 20px;
    display: inline;
    margin-right: 5px;
    border-radius: 50%;
}

.owner span {
    font-size: 12px;
}

.name a {
    display: block;
}

.name a:hover {
    text-decoration: underline!important;
}

.description p {
    color: #fdfdfd;
}