extends layout/layout

block content
  include ./layout/navbar
  .row.text-center.p-5
    .col-md-12
      h1.font-weight-light 404 Page not found
      p.text-muted
        | The page you are looking for does not exist, try using a different keyword maybe?