extends layout/layout.pug

block content
  include ./layout/navbar
  .row.text-center.p-5
    .col-md-12
      h1.font-weight-light Awesome! Website is live
      h4.font-weight-light.text-muted This website is still under works. Check back later.
      p.font-weight
        | In the meantime, consider following me on 
        a(href="http://github.com/ayaanqui/", target="_blank", title="@ayaanqui on GitHub") GitHub