extends layout/layout.pug

block content
  .container.text-center.p-5
    h1.font-weight-light Website is now live. Let's go!!!
    h4.font-weight-light.text-muted The website is not yet done.
    p.font-weight
      | Consider following me on Github
      a(href="http://github.com/ayaanqui/") @ayaanqui