extends layout/layout

block content
  include ./layout/navbar
  .row.text-center.p-5
    .col-md-12
      h1.font-weight-light Projects page
      p.text-muted
        | This page will showcase all my projects pulled from the GitHub API