body {
    color: #d8d8d8;
}

a {
    color: #ffffff;
    text-decoration: dashed!important;
}

a:hover {
    color: #f0f0f0;
    text-decoration: solid!important;
}

.list-group {
    color: #444;
}