body {
    color: #d8d8d8;
}

a {
    color: #ffffff;
    text-decoration: dashed!important;
}

a:hover {
    color: #f0f0f0;
    text-decoration: solid!important;
}

.list-group {
    border-radius: 10px;
    margin: 0px -15px;
}

.list-group-item {
    border: 1px solid rgba(0,0,0,0.25)!important;
}

.navbar-brand {
    font-weight: 800!important;
}