.siteWrapper {
    background-color: rgb(23, 23, 23);
    color: #fff;
    background: linear-gradient(rgba(88, 88, 88, 0.9), rgba(12, 12, 12, 0.9)), 
                url('/images/mountain_snow.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
}

.siteInner {
    max-width: 800px;
    padding: 10px 0px;
    position: relative;
    margin: 0 auto;
}