.siteWrapper {
    background-color: rgb(75, 43, 255);
    color: #fff;
    background: linear-gradient(rgb(75, 43, 255, 0.9),rgba(69, 11, 117, 0.9)), url('../../public/images/mountain_snow.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
}

.siteInner {
    max-width: 800px;
    padding: 10px 20px;
    position: relative;
    margin: 0 auto;
}