.homeContent {
    width: 100%;
    margin: 20px auto;
    margin-top: 10vh;
}

.title > h1 {
    font-weight: bold;
    font-size: 2.7rem;
}

.homeNav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.homeNavList {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.homeNavListItem {
    margin: 0px 5px;
    display: inline-block;
}

.homeNavListItem a {
    color: rgba(255,255,255,.5);
}

.homeNavListItem a:hover,
.homeNavListItem a:focus {
    color: rgba(255,255,255,.75);
}

.homeNavListItem a.active {
    color: #fff;
}

.summary {
    margin-top: 5px;
    padding: 0px 0px;
    margin-bottom: 10vh;
}

.summary > p {
    font-size: 1.1rem;
    color: rgba(255,255,255,.8)
}

@media screen and (max-width: 550px) {
    .title > h1 {
        font-size: 2.5rem;
    }

    .summary > p {
        font-size: 1.0rem;
    }
}

@media screen and (max-width: 375px) {
    .title > h1 {
        font-size: 2.3rem;
    }
}

.styleBtn {
    border-radius: 50px;
    margin-right: 10px;
    margin-bottom: 10px;
}